# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Commonly Used Libraries by Data scientists
- Basic Arithmetic operations
- Bold and italics

Some of the popular languages that Data Scientists use are:

1. R
2. Julia
3. Python
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. NumPy
3. Keras
4. PyTorch

| Data Science Tools |
| ------------------ |
| Anaconda |
| TensorFlow |
| Weka |
| Apache Spark |

# H3: Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
## This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [7]:
## This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

# H2: Author
Jagadesh Bs